@font-face {
    font-family: 'Robot';
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Robot';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}